{% extends 'shop/base.html' %}

{% block main_area %}

{% load socialaccount %}
<section class="container mt-3 pl-5 pr-5">
  <div class="container">
    <h3>마이페이지</h3>
    <hr>
    <div class="card mb-2">
      <div class="card-body pb-0">
        <h6><b>사용자 정보</b></h6>
        <p class="mb-1"> 이름 : <span class="ml-2">{{ user.username }}</span></p>
        <p class="mt-0">이메일 : <span class="ml-2">
          {% if user.email %}
          {{ user.email }}
          {% else %}
          <small class="text-muted">등록 되어 있지 않음</small>
          {% endif %}

        </span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body pb-0">
            <h6><b>등록한 상품</b>
             {% if user.is_authenticated %}
            {% if user.is_superuser or user.is_staff %}
            <a href="/shop/create_item/" class="float-right">
              <small>새로운 상품 등록 > </small></a>
            {% endif %}
            {% endif %}

            </h6>


            {% for b in books %}

            <div class="row mb-2">

              <div class="row">
                <div class="col-md-3 col-sm-4 mr-0">
                  {% if b.head_image %}
                  <img src="{{ b.head_image.url }}" class="card-img-top mt-2 mr-0 w-100" alt="...">
                  {% else %}
                  <img src="https://dummyimage.com/450x450/dee2e6/6c757d.jpg" class="card-img-top mt-2 mr-0 w-100"
                    alt="...">
                  {% endif %}
                </div>
                <div class="p-0 col-md-9 col-sm-8">
                  <h6 class="card-title mt-3 mb-0" ><a href="{{ b.get_absolute_url }}" class="text-dark">{{ b.title }}</a>
                    <span class="ml-2 text-muted small mb-1"><a href="{{ b.publisher.get_absolute_url }}"
                        class="text-muted">{{ b.publisher }}</a> ·
                      {{ b.author }}</span>
                    <a href="/shop/update_item/{{ b.pk }}/" class="btn btn-sm btn-outline-secondary float-right">수정</a>

                  </h6>
                {% if b.on_sale %}
              <span class="text-primary">{{ b.sale }}% </span><span
                class="text-muted text-decoration-line-through">{{ b.price }}원</span>
              - {{ b.get_sale_price }}원
              {% else %}
              {{ b.get_sale_price }}원
              {% endif %}

<!--                  <small>{{ b.get_sale_price }}원</small>-->
<!--                  {% if b.on_sale %}-->
<!--                  <span class="text-primary small">{{ b.sale }}% </span>-->
<!--                  {% endif %}-->

                </div>

              </div>

            </div>
            {% endfor %}


            <p>{{ b.title }}</p>



          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="card">
  <div class="card-body">
     <h6><b>작성한 리뷰</b></h6>
      {% for c in comments %}
    <div>
      <p class="mb-0"><small><b><a href="{{ c.book.get_absolute_url }}" class="text-dark">{{ c.book }}</a></b>
        <span class="float-right"><small>최근 업데이트 : {{ c.modified_at }}</small></span></small></p>
      <p><small>{{ c.content }}</small></p>
    </div>

    {% endfor %}
  </div>
</div>
      </div>
    </div>



    <hr>

    <!--        <a href="/shop/create_item/">상품 등록</a>-->

    <!--<p>올린 책 목록</p>-->
    <!--{% for b in books %}-->
    <!--{% if b.post_writer == user %}-->
    <!--<p>{{ b.title }}</p>-->
    <!--{% endif %}-->
    <!--{% endfor %}-->
  </div>


</section>


{% endblock %}