
{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/shop/main"><i class="fa-sharp fa-solid fa-book"></i>  덕성문고</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/shop/main/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/shop/about/">About</a></li>
                        <li class="nav-item">
                            <a class="nav-link " id="navbarDropdown" href="/shop/" role="button">Shop</a>

                        </li>
                    </ul>
                    <form class="d-flex">

             {% if user.is_authenticated %}
           <li class="nav-item dropdown nav">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--socialaccount_set.first().get_avatar_url()-->
<!--                {{ user.socialaccount.provider }}-->
<!--                        <img class="rounded-circle mr-1" src="{{ user.socialaccount_set.first.get_avatar_url }}" width="25px">-->

<!--{% if user.socialaccount_set == "Google" %}-->
<!--                구글계정-->
<!--{% endif %}-->
                  {% if user.socialaccount_set.all.0.get_avatar_url %}
                <img class="rounded-circle mr-1" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="25px">
              {% else %}
                <img class="rounded-circle mr-1" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" width="25px">
              {% endif %}

            {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/accounts/logout/">LogOut</a>
                 <a class="dropdown-item" href="/shop/my_page/">마이페이지</a>
            </div>


          </li>

          {% else %}
          <li class="nav-item nav">
               <a class="nav-link btn btn-outline-dark" href="#" data-toggle="modal" data-target="#loginModal">
                   <i class="fa-solid fa-user"></i>  LogIn</a>
           </li>
        {% endif %}



<!-- Modal 로그인 -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-right-from-bracket"></i> login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- 버튼 -->
        <div class="modal-body">
          <div class="row">
            <div class="col-6">

              <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google"></i>
                LogIn with google</a>

              <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'kakao' %}"><i class="fa-solid fa-comment"></i>
                LogIn with kakao</a>



            </div>
            <div class="col-6">
                 <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/login/">
                <i class="fa-regular fa-envelope"></i>
                LogIn with Email</a>
              <a role="button" class="btn btn-outline-dark  btn-block btn-sm" href="/accounts/signup/">
                <i class="fa-regular fa-envelope"></i>
                SignUp with Email</a>
            </div>
          </div>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!---->
                    </form>

                </div>
            </div>
        </nav>